

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:  sans-serif; 
}

body{
    background-color:#1A0124 ;
    color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    margin: 20px 0 40px 0;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px,1fr));
}

.cell{
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    height: 120px;
    cursor: pointer;
    
}

.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3),.cell:nth-child(6),.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(9),.cell:nth-child(8),.cell:nth-child(7){
    border-bottom: none;
}

.cell:nth-child(7),.cell:nth-child(4),.cell:nth-child(1){
    border-left: none;
}

.game-players{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.player{
    margin-inline:12px;
    font-size: 24px;
    font-weight:600 ;
}

.restartBtn{
    border: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: #AF7AC5;
    cursor: pointer;
}
.restartBtn:hover{
    background: #EFCBFE;
    border:1px solid #fff;
    color:#000;
}

.cell.disabled{
    background: #a5a3a7;
}

.alertBox{
    position: absolute;
    top: 0;
    background: #fff;
    color: #1A0124;
    width: 100%;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    display: none;
    text-align: center;
}

@media screen and (max-width:550px){
    .game-board{
        grid-template-columns: repeat(3, minmax(100px,1fr));
    }
    .cell{
        height: 90px;
    }
}